<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Order" tabIcon="list" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Chat" tabIcon="chatbubbles" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Offer" tabIcon="heart" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="More" tabIcon="more" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>
