<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  
  <form (ngSubmit)="resetPassword(email)" #resetForm="ngForm"> 
    <ion-list inset>
      <ion-item>
        <ion-label stacked color="secondary">Email</ion-label>
        <ion-input type="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" placeholder="example@gmail.com" name="email" [(ngModel)]="email" required></ion-input>
      </ion-item>
      <button ion-button block class="reset-btn" color="secondary" type="submit" [disabled]="!resetForm.form.valid">Reset</button>
    </ion-list>
  </form>
</ion-content>
