page-login {
    .login-content{
        .logo-row {
            margin-top: 20%;
        }
        .login-box {
            margin-top: 20px;
        }
        .login-btn {
            margin-top: 20px;
        }
    }
}
