page-register {
    .register-content{
        .logo-row {
            margin-top: 20%;
        }
        .register-box {
            margin-top: 20px;
        }
        .register-btn {
            margin-top: 20px;
        }
    }
}
