<ion-header>
  <ion-navbar color="secondary">
    <ion-title><img alt="logo" height="40" src="assets/imgs/logo.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content" padding>
  <div class="user-div">
    <div text-center style="font-size : 25px;">Book a trusted helper in your hood</div>
    <button class="user-button" ion-button block color="secondary" (click)="onCustomerSelect()">I need a helper</button>
    <button class="user-button" ion-button block color="primary" (click)="onCleanerSelect()">Become a helper?</button>
  </div>
</ion-content>
