page-select-user {
    .content{
        background: color($colors, light);
        .user-div{
            margin-top: 30%;
        }
        .user-button{
            margin-top : 40px;
        }
    }
}
